@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800|Varela+Round");
* {
  box-sizing: border-box; }

.buttonSVG, .resume, .btnSend {
  font-family: "Dosis", sans-serif;
  background-image: url("../img/button-bg.svg");
  font-size: 18px;
  line-height: 62px;
  width: 277px;
  height: 62px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  background-size: contain;
  clear: both;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  border: 0;
  color: #222222;
  background-color: transparent; }

.titles, .titleAbout, .content .badgetTitle, .contact .titleContact, .titlePortfolio, .titleSkills, .titleLang {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px; }

.texts, .textAbout, .badgets, .ability-title {
  font-family: "Dosis", sans-serif;
  font-size: 1.4em; }

#about {
  padding-top: 5%;
  width: 100%;
  height: 100vh; }

.photo {
  margin-left: 25%;
  width: auto;
  height: 550px; }

.description {
  padding-right: 20%;
  padding-top: 8%;
  font-family: "Dosis", sans-serif; }

.textAbout {
  padding: 8% 6%;
  text-align: justify; }
  .textAbout a {
    color: #222222; }

.resume .linkCV {
  color: #2b2a2a9a;
  padding: 5px; }
.resume .linkCV:hover {
  color: #272727;
  text-decoration: none; }

@media only screen and (min-width: 240px) and (max-width: 768px) {
  .about {
    padding-top: 5%; }

  .description {
    padding: 0%;
    padding-top: 30%;
    padding-bottom: 30%;
    text-orientation: justify; }

  #about {
    vertical-align: middle; }

  .icons {
    margin-right: 20px;
    font-size: 1.2em; }

  .titleAbout {
    text-transform: uppercase;
    letter-spacing: 3px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .ability-title {
    font-size: 1.2em; } }
@media (min-width: 768px) {
  .description {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-right: 0px;
    text-orientation: justify; }

  #about {
    margin: 0 auto; } }
@media (min-width: 240px) and (max-width: 768px) {
  .description {
    padding-top: 15%;
    padding-bottom: 15%;
    text-orientation: justify; }

  #about {
    margin: 0 auto; } }
.badgets {
  height: 160px;
  display: flex;
  margin: 0px; }

.content {
  height: 100%;
  background-color: #ffe042;
  line-height: 1.5em;
  font-size: 18px; }
  .content .badgetTitle {
    padding: 30px; }

.imageBox {
  height: 100%;
  border-left: 100px solid #ffe042;
  border-bottom: 160px solid transparent;
  background-position: -150px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.alls {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  position: relative; }

.insignia {
  width: 110px; }

.times {
  width: 30px;
  height: 30px;
  background-color: #ffe042;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px; }
  .times p {
    margin: 0; }

@media (min-width: 1200px) and (max-width: 1399px) {
  .alls {
    display: inline; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .badgets {
    display: inline; }

  .imageBox {
    border: none;
    margin: 0 auto; }

  .insignia {
    width: 100px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .badgets {
    display: inline; }

  .imageBox {
    border: none;
    margin: 0 auto; }

  .insignia {
    width: 100px; } }
@media (min-width: 240px) and (max-width: 768px) {
  .badgetTitle {
    font-size: 1.4em; }

  .badgets {
    display: inline; }
    .badgets .imageBox {
      border: none; }

  .insignia {
    width: 100px; } }
@media (min-width: 1400px) {
  .alls {
    display: inline; } }
@media (min-width: 1200px) and (max-width: 1284px) {
  .badgetTitle {
    font-size: 1.4em; }

  .badgets {
    display: inline; }
    .badgets .imageBox {
      border: none; }

  .insignia {
    width: 100px; } }
.contact {
  padding-top: 4%;
  padding-bottom: 6%; }
  .contact .titleContact {
    padding: 4%; }
  .contact .fa-circle {
    width: 100%;
    color: #ffe042;
    font-size: 100px; }
  .contact .fa-inverse {
    color: #222222;
    font-size: 43px; }
  .contact .fa-stack {
    width: 4em; }
  .contact .fa-stack-1x {
    line-height: 100px; }
  .contact .fa {
    margin-right: 2%; }

.photoSmile {
  background-image: url("../img/Smile.jpg");
  height: 250px;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: -260px; }

.content-contact .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  color: rgba(255, 255, 255, 0.5); }

.form-control {
  display: block;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.btnSend {
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center; }

.icons {
  padding-top: 5%;
  width: 100%;
  height: 225px;
  display: block;
  align-content: center; }

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 3px;
  color: #ffe042;
  margin-bottom: 25px; }

#contact {
  width: 100%;
  overflow: hidden; }

.contact-header {
  color: #eee;
  padding-top: 50px;
  padding-bottom: 20px; }

.contact-wrapper {
  margin: 0 auto;
  width: 100%; }

.contact-icons-list {
  position: relative;
  list-style-type: none;
  text-align: center;
  font-size: 30px; }
  .contact-icons-list li {
    position: relative;
    left: -13px;
    display: inline-block;
    margin: 20px 15px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: #ffe042;
    border-radius: 50%;
    transition: all .2s ease-in-out; }
    .contact-icons-list li:after {
      content: '';
      width: 80px;
      height: 80px;
      line-height: 80px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      opacity: 0;
      box-shadow: 0 0 0 2px #fff;
      transition: all .2s ease-in-out; }
    .contact-icons-list li:hover {
      background-color: #fff; }
      .contact-icons-list li:hover:after {
        opacity: 1;
        transform: scale(1.2);
        transition-timing-function: cubic-bezier(0.3, 0.7, 0.1, 1.6); }
      .contact-icons-list li:hover .icon-font {
        color: #ffe042; }

.icon-font {
  color: #222222;
  width: 80px;
  height: 80px;
  line-height: 80px;
  position: relative;
  z-index: 1;
  border-radius: 50%; }

@media (min-width: 992px) and (max-width: 1199px) {
  .photoSmile {
    background-position-y: -260px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .photoSmile {
    background-position-y: 0px; } }
@media (min-width: 240px) and (max-width: 768px) {
  .photoSmile {
    background-position-y: 0px; } }
.header {
  background-image: url("../img/Header.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.name {
  font-family: "Kaushan Script", cursive;
  color: #222222;
  font-size: 3.5em;
  padding-top: 11%; }

.title {
  font-family: "Dosis", sans-serif;
  background-image: url("../img/button-bg.svg");
  font-size: 18px;
  line-height: 62px;
  width: 277px;
  height: 62px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  background-size: contain;
  clear: both;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  border: 0;
  color: #222222;
  background-color: transparent; }

.pulse-button {
  display: block;
  width: 50px;
  height: 50px;
  font-weight: light;
  text-align: center;
  line-height: 65px;
  letter-spacing: -1px;
  color: #222222;
  border: none;
  border-radius: 50%;
  background: #ffe042;
  cursor: pointer;
  box-shadow: 0 0 0 0 #ffe0425d;
  -webkit-animation: pulse 1.5s infinite; }

.scroll {
  position: absolute;
  width: 100px;
  height: auto;
  bottom: 1%;
  left: 49%;
  margin: 0 auto 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden; }

.padreScroll {
  position: fixed 0; }

@media only screen and (min-width: 321px) and (max-width: 480px) {
  #header {
    height: 366px; }
    #header .name {
      padding-top: 0%; } }
@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0); }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0); } }
.phrase {
  background-color: #ffe042;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: "Dosis", sans-serif; }

.text {
  font-size: 2em;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-top: 10px; }

.author {
  font-size: 1.2em;
  padding-right: 20%; }

.iconSee, .iconCode {
  font-size: 2em;
  padding-top: 1.5px;
  margin-right: 2%; }

.titlePortfolio {
  padding: 5%; }

.seeGithub {
  z-index: 2; }

.allProjects {
  display: flex;
  align-content: center;
  justify-content: center; }

.projectsList {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  color: #222222;
  text-align: right;
  font-size: 16px;
  background-color: transparent; }

.projectsList * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.projectsList img {
  max-width: 100%;
  backface-visibility: hidden; }

.projectsList figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffe042;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%); }

.projectsList figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #ffe042 transparent transparent; }

.projectsList:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.projectsList h3,
.projectsList p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0; }

.projectsList h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  opacity: 0.75; }

.projectsList p {
  font-size: 0.8em; }

.projectsList i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: #222222;
  opacity: 0; }

.projectsList a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.projectsList:hover img,
.projectsList.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5; }

.projectsList:hover:after,
.projectsList.hover:after,
.projectsList:hover figcaption,
.projectsList.hover figcaption,
.projectsList:hover i,
.projectsList.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1; }

.skills {
  padding-bottom: 5%; }

.ability-score {
  float: right;
  color: #ffe042;
  font-size: 16px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.titleSkills {
  padding-top: 5%;
  padding-bottom: 2%; }

.skill {
  padding-bottom: 3%; }

@media (min-width: 992px) and (max-width: 1199px) {
  .ability-title {
    font-size: 1.2em; } }
@media (min-width: 768px) {
  .ability-title {
    font-size: 1.2em; } }
@media (min-width: 240px) and (max-width: 768px) {
  .ability-title {
    font-size: 1em; }

  .ability-score {
    font-size: 14px; } }
.lang {
  padding-top: 3%;
  padding-bottom: 3%; }

.footer {
  background-color: #222222;
  padding: 20px;
  color: #ffffff;
  font-family: "Kaushan Script", cursive; }

/*# sourceMappingURL=main.css.map */
