#about {
    padding-top: 3%;
    width: 100%;
    height: 100vh;
}

.photo {
    margin-left: 25%;
    width: auto;
    height: 550px; 
    margin-top: 10%;
}

.description {
    padding-right: 20%;
    padding-top: 8%;
    font-family: $font2;
}

.titleAbout {
    @extend .titles;
}

.textAbout {
    @extend .texts;
    padding: 8% 6%;
    text-align: justify;
    a {
        color: $dark;
    }
}

.resume {
    @extend .buttonSVG;
    .linkCV {
        color : #2b2a2a9a;
        padding: 5px;
    }
    
    .linkCV:hover {
        color : #272727;
        text-decoration: none;
    }
}

@media only screen and (min-width : 240px) and (max-width : 768px) {
    .about {
        padding-top: 5%;
    }
    .description {
        padding: 0%;
        padding-top: 30%;
        padding-bottom: 30%;
        text-orientation: justify;
    }
    #about {
        vertical-align: middle;
    }
    .icons {
        margin-right: 20px;
        font-size: 1.2em;
    }
    .titleAbout {
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}


@media ($desktopMin) and ($desktopMax) {
    
    }
    
    @media ($laptopMin) and ($laptopMax) {
        .ability-title {
            font-size: 1.2em;
        }
    }
        
    @media ($tabletMin) {
        .description {
            padding-top: 15%;
            padding-bottom: 15%;
            padding-right: 0px;
            text-orientation: justify;
        }
        #about {
            margin: 0 auto;
        }
    }
        
    @media ($mobileMin) and ($mobileMax) {
        .description {
            padding-top: 15%;
            padding-bottom: 15%;
            text-orientation: justify;
        }
        #about {
            margin: 0 auto;
        }
    }