* {
  outline: red solid 1px;
}

.iconSee, .iconCode {
    font-size: 2em;
    padding-top: 1.5px;
    margin-right: 2%;
}

.titlePortfolio {
  @extend .titles;
  padding: 5%;
}

.seeGithub {
  z-index : 2;
}

.allProjects {
  display: flex;
  align-content: center;
  justify-content: center;
}

.projectsList {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  color: $dark;
  text-align: right;
  font-size: 16px;
  background-color: transparent;
}
.projectsList * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.projectsList img {
  max-width: 100%;
  backface-visibility: hidden;
}
//Arrow derecha
.projectsList figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: $light;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}
.projectsList figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent $light transparent transparent;
}
.projectsList:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.projectsList h3,
.projectsList p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}
.projectsList h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  opacity: 0.75;
}
.projectsList p {
  font-size: 0.8em;
}
.projectsList i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: $dark;
  opacity: 0;
}

.projectsList a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.projectsList:hover img,
.projectsList.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.projectsList:hover:after,
.projectsList.hover:after,
.projectsList:hover figcaption,
.projectsList.hover figcaption,
.projectsList:hover i,
.projectsList.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
