.skills {
    padding-bottom: 5%;
}
.ability-score {
    float: right;
    color: $light;
    font-size: 16px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.titleSkills {
    @extend .titles;
    padding-top: 5%;
    padding-bottom: 2%;
}

.ability-title {
    @extend .texts; 
}

.skill {
    padding-bottom: 3%;
}

@media ($desktopMin) and ($desktopMax) {

}

@media ($laptopMin) and ($laptopMax) {
    .ability-title {
        font-size: 1.2em;
    }
}
    
@media ($tabletMin) {
    .ability-title {
        font-size: 1.2em;
    }
}
    
@media ($mobileMin) and ($mobileMax) {
    .ability-title {
        font-size: 1em;
    }
    .ability-score {
        font-size: 14px;
    }
}
