.skills {
    .all {
        width: 100%;
    }
    .titleSkills {
        @extend .titles;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    ul.no-bullets {
        list-style-type: none;
        margin: 0;
        padding: 150px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    ul>li {
        @extend .texts;
        min-height: 30px;
        padding: 7px 0;
    }
    .abilities ul>li .ability-title {
        display: inline-block;
        width: 60%;
        
    }
    .ability-score {
        float: right;
        color: $light;
        font-size: 14px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
}

@media only screen and (min-width : 321px) and (max-width : 480px) {
    .photoSmile {
        height: 130px;
        background-position-y: -140px;
    }
    ul.no-bullets {
        padding: 68px;
    }
}
